<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanderveldt.rens.mad_libs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mad Libs"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Register_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Submit_activity" />
        <activity android:name=".Story_activity"></activity>
    </application>

</manifest>